<div class="card">
  <div class="card-header">
    <h1>New Task  <%= @project.name %></h1>
    
  </div>
  <div class="card-body">
    <%= form_with(model: @task) do |form| %>
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :status, class: "form-label" %>
        <%= form.number_field :status, class: "form-control" %>
      </div>

      <%= form.hidden_field :project_id, value: @project.id %>

      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
        <%= link_to 'Back', projects_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>